@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/roboto-light/roboto-light.eot");
  src: local("☞roboto"), local("Roboto"),
    url("../fonts/roboto-light/roboto-light.eot") format("embedded-opentype"),
    url("../fonts/roboto-light/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light/roboto-light.woff") format("woff"),
    url("../fonts/roboto-light/roboto-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/roboto-bold/roboto-bold.eot");
  src: local("☞roboto-900"), local("Roboto-900"),
    url("../fonts/roboto-bold/roboto-bold.eot") format("embedded-opentype"),
    url("../fonts/roboto-bold/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold/roboto-bold.woff") format("woff"),
    url("../fonts/roboto-bold/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-black";
  src: url("../fonts/roboto-black/roboto-black.eot");
  src: local("☞roboto-900"), local("Roboto-black"),
    url("../fonts/roboto-black/roboto-black.eot") format("embedded-opentype"),
    url("../fonts/roboto-black/roboto-black.woff2") format("woff2"),
    url("../fonts/roboto-black/roboto-black.woff") format("woff"),
    url("../fonts/roboto-black/roboto-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
