/*____________header____________*/

@media screen and (min-width: 980px) {
  body {
    background: #f4f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .b-header {
    background-image: url("../images/main/img/header/img-header@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    z-index: -2;
    position: relative;
    widows: 100%;
  }

  .b-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: -1;
  }

  /*____________nav____________*/
  .b-logo__menu {
    display: none;
  }

  .b-container {
    margin: 0;
    padding: 0;
  }

  .b-logo {
    margin-right: 60px;
  }
  .b-logo-section {
    padding: 40px 60px 0 100px;
    margin-bottom: 92px;
    display: flex;
  }
  .b-list-nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .b-block-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .b-link-menu {
    text-decoration: none;
    color: #f4f4f7;
  }

  .b-items-nav {
    list-style-type: none;
    font-family: Roboto-light;
    font-size: 15px;
    line-height: 1.33;
    margin-right: 58px;
  }
  .b-list-nav {
    list-style-type: none;
  }

  .b-link--events {
    margin: 0;
  }

  .b-nav-menu {
    display: flex;
    align-items: center;
  }

  .b-translation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
  }
  .b-language {
    color: #f4f4f7;
    line-height: 1.33;
    font-family: Roboto-light;
    font-size: 15px;
  }

  .b-language--en {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #f4f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .b-link--events {
    display: none;
  }
  /*____________title____________*/
  .b-title {
    line-height: 1.08;
    letter-spacing: -0.75px;
    font-family: Roboto-black;
    font-size: 60px;

    padding: 0 100px;
    margin-bottom: 30px;
  }

  .b-title--header {
    color: #f4f4f7;
  }

  .b-lead {
    font-family: Roboto-light;
    font-size: 30px;
    margin: 0 100px;
    line-height: 1.33;
  }

  .b-lead--header {
    font-size: 20px;
    line-height: 1.5;
    color: #f4f4f7;
    margin: 0 200px 78px 100px;
  }
  .b-wrapper {
    display: flex;
    justify-content: space-between;
    width: 34%;
    padding: 25px 50.2px 25px 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
  }

  .b-icon-arrow--header {
    bottom: -100px;
  }

  .b-fredback {
    font-family: Roboto-light;
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .b-fredback--header {
    color: #f4f4f7;
  }
  .b-icon-arrow__image {
    width: 30px;
  }

  .button {
    text-decoration: none;
    color: #f4f4f7;
    margin-bottom: 0;
  }

  /*________main_________*/

  .b-main {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    position: relative;
  }

  /*________we-combine_________*/

  .b-we-combine {
    background: #ffffff;
    margin-bottom: 20px;
  }

  .b-title--we-combine {
    padding-top: 90px;
    color: #2d2d42;
    font-size: 60px;
    line-height: 1.08;
    letter-spacing: -0.75px;
  }

  .b-lead--we-combine {
    margin-bottom: 85px;
  }

  .box-wrapper--card {
    display: flex;
    margin: 0 40px 70px 100px;
    justify-content: space-between;
  }

  .b-wrapper-card {
    width: 30%;
    border: none;
  }

  .b-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .b-wrapper-icon {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .b-wrapper-icon__image {
    width: 50px;
    height: 52px;
  }

  .b-wrapper-icon--management {
    padding-left: 6px;
  }

  .b-desc {
    font-family: Roboto-bold;
    font-size: 20px;
    line-height: 1.5;
  }

  .b-card {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-right: 50px;
  }

  /*________services__________*/
  .b-services {
    width: 100%;
  }

  .b-title--services {
    color: #c0c6c8;
    margin-bottom: 75px;
  }

  .b-list__item {
    font-size: 20px;
    line-height: 1.5;
    width: 320px;
    padding-left: 50px;
    display: block;
    break-inside: avoid-column;
    margin-right: 30px;
  }

  .b-list__item:last-child {
    margin: 0px;
  }

  .b-list__item::before {
    list-style-type: none;
    content: "";
    height: 1px;
    width: 30px;
    background: #64cae1;
    position: absolute;
    left: 0;
    top: 15px;
  }

  .b-list--services {
    columns: 2;
    padding: 0px;
    column-gap: 50px;
    max-width: 750px;
    margin: 0 100px;
    margin-bottom: 100px;
  }

  .b-wrapper--services {
    margin: 0 30px;
    width: 100%;
    background: #64cae1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    display: none;
  }

  .b-fredback--services {
    margin: 0 30px;
    color: #f4f4f7;
  }

  .b-icon-arrow--services {
    margin: 0 30px;
  }

  .b-icon-arrow--header {
    top: 0;
  }

  /*____________work_______________________*/

  .b-work {
    background-color: #f4f4f7;
  }

  .b-title--work {
    margin-top: 0;
    padding-top: 100px;
  }

  .b-lead--work {
    margin-bottom: 90px;
  }

  .b-subtitle {
    font-size: 13px;
    font-family: Roboto-black;
    line-height: 1.54;
    letter-spacing: 1.73px;
  }

  .b-block-birdeeyes {
    position: relative;
    margin-bottom: -4px;
  }

  .b-container--birdeeyes {
    background: #64cae1;
    color: #f4f4f7;
    position: absolute;
    width: 380px;
    height: 380px;
    bottom: 20px;
    left: 110px;
  }

  .b-title--birdeeyes {
    padding: 40px;
    margin: 0;
  }

  .b-lead--birdeeyes {
    padding: 0 40px 40px;
    margin: 0;
  }
  .b-picture--work {
    max-height: 320px;
  }
  .b-picture__source {
    width: 100%;
  }

  .b-holder {
    display: flex;
    justify-content: space-between;
  }

  .b-box--upsport,
  .b-box--xland,
  .b-box--phonero,
  .b-box--group {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 0;
  }

  .b-container--upsport {
    position: relative;
    border-right: 1px solid rgba(192, 198, 200, 0.2);
  }

  .b-title--xland,
  .b-title--upsport,
  .b-title--phonero,
  .b-title--group {
    padding: 40px 130px 30px 40px;
    margin: 0;
  }
  .b-lead--xland,
  .b-lead--upsport,
  .b-lead--phonero {
    padding: 0 50px 40px 40px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .b-holder-new {
    display: flex;
    justify-content: space-between;
  }

  .b-container--home {
    background: #f4f4f7;
    color: #2d2d42;
    position: relative;
    position: absolute;
    width: 380px;
    bottom: 20px;
    right: 110px;
  }

  .b-title--home {
    padding: 40px 40px 50px;
    margin: 0;
  }

  .b-lead--home,
  .b-lead--group {
    padding: 0 40px 110px;
    margin: 0;
  }

  .b-box--home {
    position: relative;
    margin-bottom: -5px;
  }

  .b-button--work {
    display: none;
  }
  /*_______contacts__________*/

  .b-contacts {
    background: #000000;
    position: relative;
    margin-bottom: -1px;
  }

  .b-title--contacts {
    color: #f4f4f7;
    letter-spacing: -0.31px;
    line-height: 1.2;
    margin-bottom: 70px;
    margin-top: 0;
    padding: 0;
    z-index: 1;
  }

  .b-container--contacts {
    display: flex;
    padding: 100px 242px 0 100px;
    justify-content: space-between;
  }

  .b-box-contacts {
    display: flex;
    flex-direction: column;
  }
  .b-lead--contacts {
    color: #f4f4f7;
    margin-bottom: 20px;
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  .b-block-icon {
    display: flex;
    justify-content: left;
    padding-top: 19px;
  }

  .b-wrapper-icon--contacts {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-bottom: 28px;
  }

  /*_______maps_____________*/

  .b-subtitle--contacts {
    margin-bottom: 20px;
    color: #f4f4f7;
    font-family: Roboto-bold;
    font-size: 20px;
    line-height: 1.5;
  }

  .b-box-office {
    display: flex;
    justify-content: space-between;
    padding: 90px 150px 70px 100px;
    z-index: 1;
  }

  .b-list--contacts {
    color: #f4f4f7;
    list-style-type: none;
    font-family: Roboto-light;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
  }

  .link-email {
    color: #64cae1;
    text-decoration: none;
  }

  .b-box-contacts {
    position: relative;
  }

  .b-container--maps {
    position: static;
  }

  .b-container--belarus {
    position: static;
  }

  .b-list__item--minsk {
    margin-bottom: 40px;
  }

  /*_______footer_________________*/

  .b-container--footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
  }

  .b-list--footer {
    display: none;
  }

  .b-wrapper--footer {
    background-color: #64cae1;
    display: flex;
    justify-content: space-between;
    width: 105%;
    margin: 0;
  }

  .b-company-age--footer {
    display: flex;
    align-items: center;
    padding-right: 212px;
    padding-bottom: 0;
  }

  .b-arrow {
    display: block;
    position: absolute;
    right: 0px;
    width: 30px;
    height: 1px;
    background-color: #f4f4f7;
    top: 15px;
  }

  .b-arrow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #f4f4f7;
    transform: rotate(-45deg);
    transform-origin: 100% 0%;
  }

  .b-arrow:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #f4f4f7;
    transform: rotate(45deg);
    transform-origin: 100% 0%;
  }

  .b-index {
    z-index: 2;
  }

  .b-map {
    width: 900px;
    height: 440px;
  }
}
