@media screen and (min-width: 768px) {
    .b-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
      }

      .box-wrapper--card {
        display: flex;
        margin: 0 40px 70px 100px;
        justify-content: space-between;
      }
      
      .b-wrapper-card {
          border: none;
          width: 70%;
          padding-bottom: 0;
      }

      .b-wrapper-icon {
       margin-bottom: 30px;
      }
      
      .b-title--services {
          margin-top: -20px;
      }

      .b-desc {
          padding: 0;
      }

      .b-list--services {
        padding: 0 30px 20px 30px;
        columns: 2;
      }
 }
