@media screen and (min-width: 1140px) {
  body {
    background: #f4f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*____________header____________*/
  .b-header {
    width: 1180px;
    margin: 0 auto 100px;
  }
  /*____________nav____________*/

  .b-logo {
    margin-right: 120px;
  }
  .b-logo-section {
    padding: 40px 60px 0 40px;
    margin-bottom: 65px;
    display: flex;
  }
  .b-list-nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .b-block-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .b-link-menu {
    text-decoration: none;
    color: #f4f4f7;
  }

  .b-items-nav {
    list-style-type: none;
    font-family: Roboto-light;
    font-size: 15px;
    line-height: 1.33;
    margin-right: 58px;
  }

  .b-nav-menu {
    display: flex;
    align-items: center;
  }

  .b-translation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
  }

  .b-language {
    color: #f4f4f7;
    line-height: 1.33;
    font-family: Roboto-light;
    font-size: 15px;
  }
  .b-items-nav--events {
    margin-right: 58px;
    list-style-type: none;
  }

  .b-link--events {
    display: inline;
  }
  .b-language--en {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #f4f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*____________title____________*/
  .b-title {
    line-height: 1.08;
    letter-spacing: -0.75px;
    font-family: Roboto-black;
    font-size: 60px;

    padding: 0 200px;
    margin-bottom: 30px;
  }

  .b-title--header {
    color: #f4f4f7;
  }

  .b-lead {
    font-family: Roboto-light;
    font-size: 30px;
    margin: 0 100px;
    line-height: 1.33;
  }

  .b-lead--header {
    font-size: 20px;
    line-height: 1.5;
    color: #f4f4f7;
    margin: 0 200px 78px 200px;
  }
  .b-wrapper {
    display: flex;
    justify-content: space-between;
    width: 34%;
    padding: 25px 50.2px 25px 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
  }

  .b-fredback {
    font-family: Roboto-light;
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .b-fredback--header {
    color: #f4f4f7;
  }
  .b-icon-arrow__image {
    width: 30px;
  }

  .b-icon-arrow--header {
    top: 16px;
  }

  .b-arrow {
    top: -1px;
  }

  .button {
    text-decoration: none;
    color: #f4f4f7;
    margin-bottom: 0;
  }

  /*________main_________*/

  .b-main {
    width: 1180px;
    margin: 0 auto;
  }

  /*________we-combine_________*/

  .b-we-combine {
    background: #ffffff;
  }

  .b-title--we-combine {
    padding-top: 90px;
    color: #2d2d42;
    font-size: 60px;
    line-height: 1.08;
    letter-spacing: -0.75px;
  }

  .b-lead--we-combine {
    margin-bottom: 85px;
    padding: 0 100px;
  }

  .box-wrapper--card {
    display: flex;
    margin: 0 40px 70px 100px;
    justify-content: space-between;
    padding: 0 100px;
  }

  .b-wrapper-card {
    width: 30%;
    border: none;
  }

  .b-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .b-wrapper-icon {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .b-wrapper-icon__image {
    width: 50px;
    height: 52px;
  }

  .b-wrapper-icon--management {
    padding-left: 6px;
  }

  .b-desc {
    font-family: Roboto-bold;
    font-size: 20px;
    line-height: 1.5;
  }

  .b-card {
    display: flex;
    justify-content: left;
    align-items: flex-start;
  }

  /*________services__________*/
  .b-services {
    width: 100%;
  }

  .b-title--services {
    color: #c0c6c8;
    margin-bottom: 75px;
  }

  .b-list__item {
    font-size: 20px;
    line-height: 1.5;
    margin-right: 80px;
  }

  .b-list__item::before {
    list-style-type: none;
    content: "";
    height: 1px;
    width: 30px;
    background: #64cae1;
    position: absolute;
    left: -20px;
    top: 15px;
  }

  .b-list--services {
    padding: 0 110px 0 100px;
    columns: 2;
    padding-left: 120px;
    padding-right: 100px;
  }

  .b-fredback--services {
    margin: 0 30px;
    color: #f4f4f7;
  }

  .b-icon-arrow--services {
    margin: 0 30px;
  }

  /*____________work_______________________*/

  .b-work {
    background-color: #f4f4f7;
  }
  .b-title--work {
    padding-top: 90px;
  }

  .b-block-birdeeyes {
    margin-bottom: 16px;
    position: relative;
  }

  .b-lead--work {
    margin-bottom: 90px;
    padding: 0 100px;
  }

  .b-subtitle {
    font-size: 13px;
    font-family: Roboto-black;
    line-height: 1.54;
    letter-spacing: 1.73px;
  }

  .b-container--work {
    background-color: #f4f4f7;
  }

  .b-container--birdeeyes {
    background: #64cae1;
    color: #f4f4f7;
    position: absolute;
    width: 380px;
    height: 380px;
    bottom: 20px;
    left: 200px;
  }

  .b-title--birdeeyes {
    padding: 40px;
    margin: 0;
  }

  .b-lead--birdeeyes {
    padding: 0 40px 40px;
    margin: 0;
  }

  .b-picture__source {
    width: 100%;
  }
  .b-box--upsport,
  .b-box--phonero {
    padding-right: 5px;
  }

  .b-box--xland,
  .b-box--group {
    padding-left: 5px;
  }

  .b-picture {
    font-size: 0;
  }

  .b-box--upsport,
  .b-box--xland,
  .b-box--phonero,
  .b-box--group {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .b-container--upsport {
    border: none;
  }

  .b-title--xland,
  .b-title--upsport,
  .b-title--phonero,
  .b-title--group {
    padding: 40px 130px 30px 0;
    margin: 0;
  }
  .b-lead--xland,
  .b-lead--upsport,
  .b-lead--phonero,
  .b-lead--group {
    padding: 0 50px 40px 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .b-holder-new {
    display: flex;
    justify-content: space-between;
  }

  .b-container--home {
    background: #f4f4f7;
    color: #2d2d42;
    position: relative;
    position: relative;
    width: 380px;
    top: -405px;
    left: 50%;
  }

  .b-title--home {
    padding: 40px 40px 50px;
    margin: 0;
  }

  .b-lead--home {
    padding: 0 40px 110px;
    margin: 0;
  }

  /*_______contacts__________*/

  .b-contacts {
    background: #000000;
    position: relative;
    margin-top: -380px;
  }

  .b-title--contacts {
    color: #f4f4f7;
    letter-spacing: -0.31px;
    line-height: 1.2;
    margin-bottom: 70px;
    margin-top: 0;
    padding: 0;
    z-index: 1;
  }

  .b-container--contacts {
    display: flex;
    padding: 100px 242px 0 200px;
    justify-content: space-between;
    margin-bottom: -407px;
  }

  .b-box-contacts {
    display: flex;
    flex-direction: column;
  }
  .b-lead--contacts {
    color: #f4f4f7;
    margin-bottom: 20px;
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  .b-block-icon {
    display: flex;
    justify-content: left;
    padding-top: 19px;
  }

  .b-wrapper-icon--contacts {
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-bottom: 28px;
  }

  /*_______maps_____________*/
  .b-wrapper-img--maps {
    position: relative;
    z-index: 0;
  }

  .b-wrapper-img__maps {
    z-index: 1;
    width: 903px;
    max-width: none;
    height: 440px;
    position: relative;

    padding-left: 200px;
  }

  .b-subtitle--contacts {
    margin-bottom: 20px;
    color: #f4f4f7;
    font-family: Roboto-bold;
    font-size: 20px;
    line-height: 1.5;
  }

  .b-box-office {
    display: flex;
    justify-content: space-between;
    padding: 90px 150px 70px 200px;
    z-index: 1;
  }

  .b-list--contacts {
    color: #f4f4f7;
    list-style-type: none;
    font-family: Roboto-light;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
  }

  .link-email {
    color: #64cae1;
    text-decoration: none;
  }

  .b-box-contacts {
    position: relative;
  }

  .b-container--maps {
    position: static;
  }

  .b-container--belarus {
    position: static;
  }

  .b-list__item--minsk {
    margin-bottom: 40px;
  }

  /*_______footer_________________*/

  .b-footer {
    width: 1180px;
    margin: 0 auto;
  }

  .b-container--footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
  }

  .b-list--footer {
    display: none;
  }

  .b-wrapper--footer {
    background-color: #64cae1;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0;
  }

  .b-company-age--footer {
    display: flex;
    align-items: center;
    padding-right: 212px;
    padding-bottom: 0;
  }

  .b-arrow {
    position: relative;
    right: 0px;
    width: 30px;
    height: 1px;
    background-color: #f4f4f7;
  }
  .b-icon-arrow--footer {
    top: 15px;
  }
}
