* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.b-wrapper-body {
  overflow-x: hidden;
  max-width: 1180px;
}

@media (max-width: 979px) {
  .b-delete {
    display: none;
  }

  /*____________header____________*/

  .b-header {
    width: 100%;
    background: #2d2d42;
    display: flex;
    justify-content: center;
  }

  .b-logo-section {
    padding-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .b-container {
    padding: 0 30px;
  }

  .b-burger-wrapper {
    content: "";
    width: 20px;
    height: 13px;
    display: block;
    position: absolute;
    right: 30px;
  }

  .b-burger-wrapper::before,
  .b-burger-wrapper::after {
    content: "";
    background: #f4f4f7;
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
  }

  .b-burger-wrapper::before {
    top: 0;
  }
  .b-burger-wrapper::after {
    bottom: 0;
  }

  .b-burger {
    background: #f4f4f7;
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    top: 6px;
  }
}

.b-title {
  margin-bottom: 20px;
  font-family: Roboto-black;
  line-height: 1.2;
  letter-spacing: -0.31px;
  font-size: 25px;
  font-weight: 900;
}

.b-title--header {
  color: #f4f4f7;
  margin-bottom: 20px;
}

.b-lead {
  font-family: Roboto-light;
  font-size: 15px;
  line-height: 1.33;
}
.b-lead--header {
  margin-bottom: 100px;
  color: #f4f4f7;
}
.b-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.b-fredback {
  font-family: Roboto-light;
  line-height: 1.33;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.b-fredback--header {
  color: #f4f4f7;
}
.b-icon-arrow--header {
  top: 8px;
}

.button--header {
  text-decoration: none;
  color: #f4f4f7;
}

/*________main_________*/

.b-main {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  position: relative;
}

/*________we-combine_________*/

.b-we-combine {
  background: #ffffff;
}

.b-title--we-combine {
  padding-top: 30px;
  color: #2d2d42;
  font-size: 25px;
}

.b-lead--we-combine {
  margin-bottom: 30px;
}

.b-wrapper-card {
  border-top: 1px solid #f2f4f4;
  border-bottom: 1px solid #f2f4f4;
}

.b-card {
  padding-top: 26px;
  padding-bottom: 29px;
}

.b-wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.b-wrapper-icon--project {
  background: #63c9e0;
  padding: 10px;
  box-sizing: border-box;
}

.b-wrapper-icon--management {
  background: #f47e3d;
  padding-left: 5px;
  padding-top: 0;
  box-sizing: border-box;
}

.b-wrapper-icon--digital {
  background: #d04b9b;
}

.b-card-digital {
  padding-top: 28px;
}
.b-desc {
  font-family: Roboto-bold;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
}

.b-card {
  display: flex;
  justify-content: left;
  align-items: center;
}

/*________services__________*/
.services {
  background: #ffffff;
}

.b-title--services {
  color: #c0c6c8;
  margin-top: 31px;
  margin-bottom: 30px;
}

.b-list--services {
  margin-left: 40px;
}

.b-list__item {
  font-size: 15px;
  font-family: Roboto-light;
  line-height: 1.33;
  list-style-type: none;

  margin-bottom: 22px;
  position: relative;
}

.b-list__item:last-child {
  margin-bottom: 38px;
}

.b-list__item::before {
  list-style-type: none;
  content: "";
  height: 1px;
  width: 20px;
  background: #64cae1;
  position: absolute;
  left: -40px;
  top: 7.5px;
}

.b-wrapper--services {
  margin: 0 30px;
  width: 100%;
  background: #64cae1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.b-fredback--services {
  margin: 0 30px;
  color: #f4f4f7;
}

.b-icon-arrow--services {
  margin: 0 30px;
}

/*____________work_______________________*/

.b-work {
  background-color: #f4f4f7;
}

.b-container--work {
  margin: 30px 0;
}

.b-title--work {
  margin-top: 30px;
}

.b-subtitle {
  font-size: 10px;
  letter-spacing: 1.31px;
  margin-bottom: 17px;
}

.b-lead--work {
  margin-bottom: 32px;
}

.b-picture__img {
  width: 100%;
}

.b-picture__source {
  width: 100%;
}

.b-button--work {
  text-decoration: none;
  color: #f4f4f7;
}
.b-wrapper--work {
  padding: 20px 30px;
  background: #64cae1;
  margin-bottom: 0;
}

.b-icon-arrow--work {
  top: 8px;
}

/*_______contacts__________*/

.b-index {
  z-index: 2;
}

.b-contacts {
  background: #000000;
  position: relative;
  width: 100%;
}

.b-title--contacts {
  color: #f4f4f7;
  margin-top: 31px;
  letter-spacing: -0.31px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.b-lead--contacts {
  color: #f4f4f7;
  margin-bottom: 25px;
}

.b-block-icon {
  display: flex;
  justify-content: left;
  margin-bottom: 190px;
}

.b-wrapper-icon--contacts {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-bottom: 28px;
}

/*_______maps_____________*/
.b-wrapper-img--maps {
  position: absolute;
  top: 220px;
  right: 0;
  left: -80px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.b-wrapper-img__maps {
  z-index: 1;
  width: 677px;
  max-width: none;
  height: 330px;
  position: relative;
}

.b-subtitle--contacts {
  margin-bottom: 20px;
  color: #f4f4f7;
  font-family: Roboto-bold;
  font-size: 20px;
  line-height: 1.5;
}

.b-list--contacts {
  color: #f4f4f7;
  list-style-type: none;
  font-family: Roboto-light;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
}

.link-email {
  color: #64cae1;
  text-decoration: none;
}

.b-box-contacts {
  position: relative;
}

.b-container--norway {
  margin-bottom: 30px;
}

.b-container--belarus {
  margin-bottom: 40px;
}

.b-list__item--minsk {
  margin-bottom: 40px;
}

.b-icon-arrow--maps {
  margin-right: 30px;
}

/*_______footer_____________*/

.b-footer {
  background: #2d2d42;
}

.b-container--footer {
  padding-top: 20px;
}

.b-list__item--footer {
  line-height: 2.67;
}

.b-company-age--footer {
  opacity: 0.5;
  font-family: Roboto-light;
  font-size: 15px;
  line-height: 1.33;
  color: #f4f4f7;
  padding-bottom: 30px;
}

.b-list--footer {
  margin-bottom: 20px;
}

.b-link--footer {
  color: #f4f4f7;
  text-decoration: none;
}

.b-icon-arrow {
  position: relative;
}

.b-arrow {
  display: block;
  position: absolute;
  right: 0px;
  width: 20px;
  height: 1px;
  background-color: #f4f4f7;
}

.b-arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #f4f4f7;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.b-arrow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #f4f4f7;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}
